.offline_img {
  width: 90%;
  height: 217px;
  background-size: cover;
  background-position: 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
