.header_wrapper {
  height: 54px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .nav_wrapper.mobile {
    display: block;
    padding: 80px 0;
  }
}

@media screen and (max-width: 600px) {
  .nav_wrapper {
    display: none;
  }
}
.nav_wrapper ul {
  width: 315px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .nav_wrapper ul {
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
}
.nav_wrapper ul .header_nav_link {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  position: relative;
}
.nav_wrapper ul .header_nav_link.active:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.7s;
}
.nav_wrapper ul .header_nav_link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.7s;
}
.nav_wrapper ul .header_nav_link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #E0BE9C;
  transition: 0.7s;
}
@media screen and (max-width: 600px) {
  .nav_wrapper ul .header_nav_link {
    font-size: 28px;
    font-weight: 400;
    color: #FFF;
    letter-spacing: 3px;
  }
}
.nav_wrapper .header_nav_separator {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #000;
}
.nav_wrapper .header_nav_separator:last-child {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav_wrapper .header_nav_separator {
    width: 40px;
    height: 2px;
    background-color: #E5E0E0;
    border-radius: 4px;
  }
}

.logo_wrapper {
  width: 76px;
  height: 54px;
}
.logo_wrapper img {
  width: 100%;
  padding: 10px 0;
}
.logo_wrapper.mobile {
  margin: 0 auto;
  width: 150px;
}

.burger_menu_wrapper {
  display: none;
}
@media screen and (max-width: 600px) {
  .burger_menu_wrapper {
    display: block;
  }
}

.buy_btn_wrapper {
  margin: 0 auto;
  background-color: #C7956D;
  border-radius: 9px;
  transition: 0.2s ease-in;
}
.buy_btn_wrapper:hover {
  filter: drop-shadow(0px 0px 5px #C7956D);
}
.buy_btn_wrapper button {
  width: 100%;
  height: 100%;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
}
.buy_btn_wrapper p {
  min-width: 126px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.main_wrapper {
  max-width: 1070px;
  margin: 50px auto 30px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
@media screen and (max-width: 600px) {
  .main_wrapper {
    grid-template-columns: 1fr;
  }
}

.side_wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .side_wrapper.right {
    display: none;
  }
}

.content_separator {
  width: 3px;
  height: auto;
  background-color: #E5E0E0;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  margin: 0 35px;
}
@media screen and (max-width: 600px) {
  .content_separator {
    display: none;
  }
}

.wrapper_content_menu_button {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}
.wrapper_content_menu_button:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 940px) {
  .wrapper_content_menu_button {
    height: 21vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper_content_menu_button {
    height: 200px;
  }
}
.wrapper_content_menu_button .content_menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
}
.wrapper_content_menu_button .content_menu_button p {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 100;
  color: #FFF;
  margin: auto 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .wrapper_content_menu_button .content_menu_button p {
    font-size: 30px;
  }
}

.footer_wrapper {
  padding-top: 30px;
  margin: 0 auto 40px;
  display: grid;
  grid-template-areas: "web web web" "copyright social_media policy";
  row-gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .footer_wrapper {
    justify-content: center;
    grid-template-areas: "web" "social_media" "copyright" "policy";
  }
}

.footer_web {
  grid-area: web;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .footer_web {
    width: 100%;
    text-align: center;
  }
}

.footer_copyright {
  grid-area: copyright;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
}

.social_media_wrapper {
  grid-area: social_media;
  justify-self: center;
  display: flex;
  gap: 40px;
  align-items: center;
}
.social_media_wrapper a {
  width: 24px;
  height: 24px;
}
.social_media_wrapper svg {
  width: 100%;
  height: 100%;
}

.footer_terms_privacy {
  grid-area: policy;
  justify-self: end;
}
.footer_terms_privacy ul {
  display: flex;
  gap: 20px;
}
.footer_terms_privacy ul a {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.test {
  color: #000;
}

.page_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
}

.page_title {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
}
.page_title p {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFF;
}

.video_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
  width: 100%;
  height: 270px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
}
.video_button svg {
  color: #FFFFFF;
  transition: ease-in 0.3s;
}
.video_button:hover > svg {
  color: #639542;
}

.page_text_block p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
}
.page_text_block p:last-child {
  margin-bottom: 0;
}
.page_text_block .telegram_link {
  margin-bottom: 20px;
}
.page_text_block .telegram_link p {
  margin-bottom: 0;
}
.page_text_block .telegram_link a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #976945;
}

.try_button_block {
  margin: 0 auto;
}
.try_button_block p {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
  display: inline-block;
}
.try_button_block a {
  display: inline-block;
  font-style: italic;
  border: none;
  color: #AA7A54;
  text-decoration-line: underline;
  background: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
}

.App {
  margin: 0 auto;
  max-width: 1288px;
}

/*# sourceMappingURL=app.css.map */
