@import './header/header.scss';
@import './content/content.scss';
@import './footer/footer.scss';
@import './content/page.scss';

.App {
  margin: 0 auto;
  max-width: 1288px;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 10px;
  }
}
