@import './header/header.scss';
@import './content/content.scss';
@import './footer/footer.scss';
@import './content/page.scss';
@import './content/scroll.scss';
@import './base_components/contacts.scss';
@import './base_components/social_media.scss';
@import './base_components/base_button.scss';

.App {
  margin: 0 auto;
  max-width: 1288px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;


  @media screen and (max-width: 800px) {
    padding: 0;
  }
}
