body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', 'Raleway',
    sans-serif;
  background-color: #FFF8F0;
  
}

.os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  height: 10%;
}