svg {
  color: #aa7a54;
}

.contacts_page_container {
  padding: 50px 70px;
}
.contacts_wrapper {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 835px;
  flex-grow: 1;
  padding: 50px 0 100px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    padding-top: 0;
    flex-direction: column;
    gap: 40px;
  }
}

.contact_button_wraper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contacts_separator {
  width: 2px;
  height: 25px;
  border-radius: 4px;
  background-color: #e5e0e0;

  &:last-child {
    display: none;
  }

  @media screen and (max-width: 800px) {
    width: 25px;
    height: 2px;
  }
}

.contact_button_title {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
