@import '../base_components/variables';

.footer_wrapper {
  width: 100%;
  padding-top: 30px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-areas: "web web web" "copyright social_media policy";
  row-gap: 20px;
  align-items: center;

  @media  screen and (max-width: 1000px) {
    justify-content: center;
    grid-template-areas: "web" "social_media" "copyright" "policy";
    padding: 30px 20px 10px;
    width: 80vw;
  }
}

.footer_web {
  grid-area: web;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;

  @media  screen and (max-width: 1000px) {
    width: 100%;
    text-align: center;
  }

}

.footer_copyright {
  grid-area: copyright;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;

  @media  screen and (max-width: 800px) {
    text-align: center;
  }
}

.social_media_wrapper {
  grid-area: social_media;
  justify-self: center;
  display: flex;
  gap: 40px;
  align-items: center;

  a {
    width: 24px;
    height: 24px;
  }

  svg {
    color: $color_text_main;
  }
}

.footer_terms_privacy {
  grid-area: policy;
  justify-self: end;

  ul {
    display: flex;
    gap: 20px;

    @media  screen and (max-width: 800px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    a {
      font-family: "Raleway";
      font-size: 12px;
      font-weight: 500;
      color: #000;
    }
  }
}

.test {
  color:#000;
}
