.news_page_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .news_title {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 300;
  }

  .news_text {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-align: justify;
  }

  .news_img {
    max-width: 400px;
    height: 217px;
    background-size: cover;
    background-position: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #FFFFFF;
      transition: ease-in 0.3s;
    }

    &:hover > svg {
      color: #639542;
    }
  }
}
