.header_container {
  height: 106px;
  width: 100%;
}

.header_wrapper {
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 800px) {
  padding: 20px 10px 0;
  position: fixed;
  background-color: #FFF8F0;
  opacity: 0.9;
  z-index: 10;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  &.hide {
    top: -106px
  }
  }
}

.nav_wrapper.mobile {
  @media screen and (max-width: 800px) {
    display: block;
    padding: 80px 10px;
  }
}

.nav_wrapper.start {
  padding-right: 120px;
  padding-bottom: 20px;
  @media screen and (max-width: 800px) {
    display: block;
    padding: 80px 0;
  }

  ul {

    &.start {
      width: 404px;

      .header_nav_separator {
        background-color: #FFFFFF;
      }

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

.nav_wrapper {
  @media screen and (max-width: 800px) {
    display: none;
  }

  ul {

    &.start {
      width: 404px;

      .header_nav_separator {
        background-color: #FFFFFF;
      }

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      .header_nav_link {
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;

        @media screen and (min-width: 800px) {
          &.active {
            &:after {
              content: "";
              display: block;
              position: absolute;
              right: 0;
              bottom: -3px;
              width: 100%;
              height: 1px;
              background-color: #FFFFFF;
              transition: 0.7s;
            }
          }
  
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 1px;
            background-color: #FFFFFF;
            transition: 0.7s;
          } 
        }
      }
    }

    width: 360px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    @media screen and (max-width: 800px) {
      width: 100%;
      height: 55vh;
      flex-direction: column;
    }

    .header_nav_link {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #000;
      position: relative;
      text-transform: lowercase;

      @media screen and (min-width: 800px){
        &.active {
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: 0.7s;
          }
        }
  
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          bottom: -3px;
          width: 0;
          height: 2px;
          background-color: #000;
          transition: 0.7s;
        }
  
        &:hover:after {
          content: "";
          width: 100%;
          display: block;
          position: absolute;
          left: 0;
          bottom: -3px;
          height: 2px;
          background-color: #E0BE9C;
          transition: 0.7s;
        }
      }

      @media screen and (max-width: 800px) {
        font-size: 28px;
        font-weight: 400;
        color: #FFF;
        letter-spacing: 3px;
      }
    }
  }

  .header_nav_separator {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;

    &:last-child {
      display: none;
    }

    @media screen and (max-width: 800px) {
      width: 40px;
      height: 1px;
      opacity: 0.5;
      background-color: #E5E0E0;
      border-radius: 4px;
    }
  }
}

.logo_wrapper {
  width: 120px;
  height: 56px;

  button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;


    &:hover >img {
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
    transition: 0.2s ease-in;
  }

  &.mobile {
    margin: 0 auto;
    width: 150px;
  }

  &.start {
    display: none;
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      width: 150px;
      display: block;
    }
  }
}

.burger_menu_wrapper {
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    height: fit-content;
    align-self: center;
    margin-right: 10px;
  }
}


